*{
  font-family: 'Libre Baskerville', serif;
}

/*------------------------------------*/

#title h1{
  font-family: 'Bungee Inline', cursive;
  font-size: 1.6em;
  letter-spacing: 6px;
}





@media only screen and (max-width: 400px){
}
